<p>
    <button type="button" class="btn btn-secondary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      Toggle
    </button>
    <button [ngClass]='currentClasses' [disabled]="!enableAdd" class="btn btn-primary btn-block">Add New User</button>
  </p>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <ul class='list-group' *ngIf="loaded && users?.length > 0">
          <li class='list-group-item' [class.bg-light]="user.isActive" *ngFor='let user of users'>
            <div class="row">
              <div class="col-sm-4">
                  <img *ngIf="user.image" class='img-fluid' [src]="user.image" alt="">
              </div>
              <div class="col-sm-8">
                <h3>{{user.firstName + " " + user.lastName}}</h3>
              </div>
            </div>
          </li>
        </ul>
        <h4 *ngIf="loaded && users?.length == 0">No Users Found</h4>
        <h4 *ngIf="!loaded">Loading Users...</h4>
      </div>
    </div>
  </div>
  



<!-- <ng-template #noUsers>No Users Found</ng-template>
<ng-template #loadingUsers>Loading Users...</ng-template> -->

 
  